.title {
    font-size: 1.40rem;
    letter-spacing: 0;
    line-height: 1.4;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 20px;
}

.link {
    color: #007CB2;
    font-weight: 500;
}

.btn {
    background-color: transparent;
    border: none;
}

.popupBody {
    max-width: 290px;
    padding: 16px;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    line-height: 1.42857;
}

.popupBody > * {
    text-decoration: underline;
    color: #000;
}

.mainSection {
    margin-bottom: 40px;
}